<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\RouterList">
        <arguments>
            <argument name="routerList" xsi:type="array">
                <item name="develodesign_punchout_router" xsi:type="array">
                    <item name="class" xsi:type="string">Develodesign\Punchout\Controller\Router</item>
                    <item name="disable" xsi:type="boolean">false</item>
                    <item name="sortOrder" xsi:type="string">10</item>
                </item>
            </argument>
        </arguments>
    </type>

    <!-- override cookie samesite -->
    <type name="Magento\Framework\Session\Config">
        <plugin name="develo_punchout_override_session_config"
                type="Develodesign\Punchout\Model\Cookie2\Framework\Session\ConfigPlugin" sortOrder="10" />
    </type>

    <type name="Magento\Framework\Session\Generic">
        <plugin name="develo_punchout_override_session_generic"
                type="Develodesign\Punchout\Model\Cookie2\Framework\Session\GenericPlugin" sortOrder="10" />
    </type>
    <!-- preference for="Magento\Framework\Session\Config" type="Develodesign\Punchout\Model\Cookie2\Framework\Session\Config" / -->
    <!-- preference for="Magento\Framework\Session\SessionManagerInterface" type="Develodesign\Punchout\Model\Cookie2\Framework\Session\Generic" --/>

    <preference for="Magento\Framework\Stdlib\CookieManagerInterface" type="Develodesign\Punchout\Model\Cookie2\Stdlib\Cookie\PhpCookieManager" />
    <preference for="Magento\Framework\Stdlib\Cookie\CookieMetadata"  type="Develodesign\Punchout\Model\Cookie2\Stdlib\Cookie\CookieMetadata" />
    <preference for="Magento\Framework\Stdlib\Cookie\PublicCookieMetadata"    type="Develodesign\Punchout\Model\Cookie2\Stdlib\Cookie\PublicCookieMetadata" />
    <preference for="Magento\Framework\Stdlib\Cookie\SensitiveCookieMetadata" type="Develodesign\Punchout\Model\Cookie2\Stdlib\Cookie\SensitiveCookieMetadata" / -->



</config>
