<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
			<add id="Develodesign_Punchout::develodesign_punchout_punchoutgroup" title="Punchout Groups" module="Develodesign_Punchout" sortOrder="9999" resource="Develodesign_Punchout::PunchoutGroup" parent="Magento_Customer::customer" action="develodesign_punchout/punchoutgroup/index"/>
		<add id="Develodesign_Punchout::develodesign_punchout_punchoutgroup_login" title="Punchout Group Login" module="Develodesign_Punchout" sortOrder="99999" resource="Develodesign_Punchout::PunchoutGroupLogin" parent="Magento_Customer::customer" action="develodesign_punchout/punchoutgroup/login"/>
		<add id="Develodesign_Punchout:::develodesign_punchout_activityeventlog" title="Punchout Activity Logs" module="Develodesign_Punchout" sortOrder="99999" resource="Develodesign_Punchout::ActivityEventLog" parent="Magento_Customer::customer" action="develodesign_punchout/activityeventlog/index"/>

	</menu>
</config>
