<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="develodesign" translate="label" sortOrder="100">
            <label>Punchout Settings</label>
        </tab>
        <section id="develodesign_punchout" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>Punchout</label>
            <tab>develodesign</tab>
            <resource>Develodesign_Punchout::punchout_config</resource>
            <group id="defaults" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Defaults</label>
                <field id="punchout_toggle" translate="label comment" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Punchout System Status</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="uom" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Default Unit of Measure (UOM)</label>
                    <comment>This is your default unit of measure for an item sale, such as EA (Each).</comment>
                </field>
                <field id="self_dun_identity" translate="label comment" type="text" sortOrder="21" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Identity (DUNS)</label>
                    <comment>This is our domain identifier (DUN/Network ID) </comment>
                </field>
            </group>
            <group id="display" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" >
                <label>Display Settings</label>
                <field id="transfer_button_label" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Transfer Button Label</label>
                </field>
                <field id="transfer_modal_content" translate="label" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Transfer Modal Content</label>
                </field>
            </group>
            <group id="customer" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Customer Behaviors</label>
                <field id="auto_create_user" translate="label" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Auto-Create User</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="product" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Product Behaviors</label>
                <field id="load_non_catalogue" translate="label" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Load Non-Catalog Products</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="non_catalogue_sku" translate="label" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Non-Catalog Product SKU</label>
                    <comment>This is SKU for identifying and retrieving your non-catalogue products </comment>
                </field>
                <field id="customizable_option_sku" translate="label" type="text" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Customizable Option SKU Title</label>
                    <comment>This is the customizable product option SKU identifier/title </comment>
                </field>
                <field id="customizable_option_name" translate="label" type="text" sortOrder="40" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Customizable Option Name Title</label>
                    <comment>This is the customizable product option Name identifier/title </comment>
                </field>
                <field id="customizable_option_qty" translate="label" type="text" sortOrder="50" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Customizable Option Quantity Title</label>
                    <comment>This is the customizable product option Quantity identifier/title </comment>
                </field>
            </group>
        </section>
    </system>
</config>
